.sorter-buttons {
	height: 5%;
}

.App {
	height: 100%;
}

.id {
	height: 100%;
}

.display-container {
	height: 95%;
}

.sorter-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}